body {
  background-color: #282c34;
  color: white;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

p, li {
  font-size: 1.5em;
  margin-top: 0;
}

.card {
  width: 80%;
}

.form-group {
  margin-bottom: 1em;
}

.btn {
  margin-top: 1em;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.table-responsive {
  width: 1000px;
}

.table {
  background-color: white;
  color: black;
}

.table-success {
  background-color: #d4edda;
}

.table-danger {
  background-color: #f8d7da;
}

.mt-5 {
  margin-top: 100px;
}

.min-vh-100 {
  min-height: 100vh;
}

.card-header {
  white-space: nowrap;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.25rem;
}

.card-header.display-4 {
  font-size: 2.5rem;
}